<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>My web</title>
   
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

</head>
<body ng-controller="myCtrl as ctrl">
    <div id="container">
        <div id="form-info">
            <fieldset>
                <legend>
                    add to do
                </legend>
                <div class="sl">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input ng-model="name">
                    </md-input-container>
                    </div>
                    <div class="sl">
                        <md-input-container>
                            <label>Time</label>
                            <md-select ng-model="time">
                                <md-option ng-repeat="time in times" value="{{time}}">
                                    {{time}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
</fieldset>
        </div>
        <div id="show-info">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time</th>
                        <th></th>
                        <th>Attention</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="todo in todos" class="{{sl}} {{todo.nameClass}}">
                        <td><p class="md-caption">{{todo.name}}</p></td>
                        <td><p class="md-caption">{{todo.time}}</p></td>
                        <td><md-button class="md-warn" ng-click="delete($index)">Delete</md-button>  <md-checkbox aria-label="Checkbox 1" name="tos" ng-click="complete($index)" /></md-checkbox> <span class="md-caption">{{todo.stt}}</span></td>
                        <td>    
                            <md-switch ng-model="sl" aria-label="Switch 2" ng-true-value="'select'" ng-false-value="''" class="md-warn">
                                
                            </md-switch>
                            </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>
            <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>
    <script src="scripts/app.js"></script>
     <script src="scripts/angular.js"></script>
</body>
</html>